<!DOCTYPE html>
<html lang="pt-br">
    <%- include("partials/head.ejs") %>
<body>
    
    <h1><%= title %></h1>

    <%- include("partials/navbar.ejs") %>

    <% if(typeof message !== "undefined") { %>
        <%= message %>
    <% } %>

    <form action="/edit/<%= user._id %>" method="post">
        <div class="menu">
            <div class="campo">
            <label>Nome</label>
            <input type="text" name="name" placeholder="Digite seu nome" value="<%= user.name %>">
            </div>
            <div class="campo">
            <label>Idade</label>
            <input type="text" name="age" placeholder="Digite sua idade" value="<%= user.age %>">
            </div>
        </div>
        <div class="menu">
            <div class="campo" id="emailedit">
            <label>E-mail</label>
            <input type="text" name="email" placeholder="Digite seu e-mail" value="<%= user.email %>">
            </div>
        </div>
        <button type="submit">Editar</button>
    </form>

    <%- include("partials/foot.ejs") %>
</body>
</html>