<!DOCTYPE html>
<html lang="pt-br">
    <%- include("partials/head.ejs") %>
<body>
    
    <h1><%= title %></h1>

    <%- include("partials/navbar.ejs") %>

    <form action="/register/add" method="post">
        <div class="menu">
            <div class="campo">
            <h3>Nome</h3>
            <input type="text" name="name" autocomplete="off">
            </div>
            <div class="campo">
            <h3>Idade</h3>
            <input type="text" name="age" autocomplete="off">
            </div>
        </div>
        <div class="menu">
            <div class="campo">
            <h3>E-mail</h3>
            <input type="text" name="email" placeholder="exemplo@email.com" autocomplete="off">
            </div>
            <div class="campo">
            <h3>Senha</h3>
            <input type="password" name="password" autocomplete="off">
            </div>
        </div>
        <% if(typeof message !== "undefined") { %>
            <p><%= message %></p>
        <% } %>
        <button type="submit">Cadastrar</button>
    </form>

    <%- include("partials/foot.ejs") %>
</body>
</html>